html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px; 
	position: relative;
}
/*Animaciones images*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.none{
	display: none;
	transition-duration: 2s;
}
/*Fin Animaciones images*/

.menuOculto{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(10,76,146,.4);
	z-index: 1050;
	transform: translate3d(-100%, 0, 0);
	animation-duration: 2s;
}
.menuMostrado{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(10,76,146,.8);
	z-index: 1050;
	transform: none;
	animation-duration: 2s;
	padding-top: 4em;
}
.menuMostrado div{
	width: 100%;
	height: 100%;

}
.menuMostrado div ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;  
}
.menuMostrado div ul li{
	width: 90%;
	list-style: none;
	border-bottom: 1px solid white;
	padding: 15px 0; 
	text-align: center;
}
.menuMostrado div ul li a{
	text-decoration: none;
	color: white;
	width: 100%;
}
.menuContent{
	width: 100%;
	/*padding: 20px 0px;*/
	display: flex;
	justify-content: center;
}
.menuAdjust{
	width: 1024px;
	display: flex;
	flex-direction: column;
}
.menuTop{
	width: 100%;
	padding: 10px 0;
	display: flex;
	flex-direction: row;
}
.menuLogo{
	width: 50%;
}
.menuLogo img{
	width: 200px;
}
.menuNumEmail{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menuNumEmail span{
	color: #7e7f84;
	font-size: 14px;
}
.menuNumEmail span:first-child{
	margin-right: 20px;
}
.menuNumEmail span i{
	margin-right: 4px;
}
.menuResponsive{
	display: none;
	transition: 1s;
}
.menuScroll{
	display: none;
	transition: 1s;
}
.menuFixedTop{
	width: 100%;
	position: fixed;
	z-index: 1100;
	background-color: white;
	box-shadow: rgba(0,0,0,.2) 0px 4px 8px;
}
.menuAdjustFixedcien{
	width: 100%;
	display: flex;
	justify-content: center;
}
.menuAdjustFixed{
	width: 1024px;
}
.menuFixed{
	width: 100%;
	border-top: 1px solid #F1F1F1;
	display: flex;
}
.menuFixedUl{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row; 
	width: 50%;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}
.menuFixedUl li{
	list-style: none;
}
.menuFixedUl li a{
	text-decoration: none;
	color: #7e7f84;
	font-size: 15px; 
}
.menuFixedUl li a:hover{
	color: #f35a40;
}
.logoMenu{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.logoMenu img{
	height: 40px;
}
#menuIcon{
	font-size: 30px;
}
/*Slide*/
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.textSlide {
  padding: 8px 0px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  bottom: 20%;
  left: 10%;
  /*text-align: center;*/
}
.containerTextSlide{
	width: 60%;
	display: flex;
	flex-direction: column;
}
.containerTextSlide p{
	color: #0a4c92;
	text-shadow: rgba(255,255,255,.4) 0px 3px 5px;
	font-weight: 400;
}
.containerTextSlide h3{
	color: #0a4c92;
	font-size: 50px;
	margin: 0px;
}
.containerTextSlide h4{
	color: #f4891f;
	font-size: 50px;
	margin: 0px;
	font-weight: 400; 
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*/Slide*/

.service{
	width: 100%;
	display: flex;
	justify-content: center;
}
.serviceAdjust{
	width: 1024px;
}
.serviceAdjustResponsive{
	display: none;
}
.serviceAdjust h3{
	color: #454545;
	width: 100%;
	font-size: 30px;
	text-align: center;
}
.serviceInfo{
	display: flex;
}
.serviceInfo div{
	width: 50%;
	height: 300px;
}
.serviceInfo div img{
	width: 97%;
}
.serviceInfo .serviceImg{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.serviceInfo div p{
	color: #7e7f84;
	line-height: 21px;
	font-size: 16px;
	/*white-space: pre-line;*/
	line-height: 22px;
}
.nar{
	color: #f4891f;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 500;
	margin: 0;
}
.azul{
	color: #0a4c92;
	/*text-align: right;*/
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 500;
	margin: 0;
}
.puntos{
	display: flex;
	margin-bottom: 5px;
}
.puntos .iAzul{
	margin-right: 5px;
	color: #0a4c92;/*Azul*/
}
.puntos .iNar{
	margin-right: 5px;
	color: #f4891f;/*Azul*/
}
.parallax{

	background: url('../img/seguros_y_fianzas_trato.png') no-repeat; 
	background-size: cover; 
	background-attachment: fixed;
}
.parallaxBackground{
	background: rgba(0,0,0,.4);
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parallaxAdjust{
	width: 1024px;
	text-align: center;
	font-size: 30px;
	color: white;
	text-shadow: rgba(0,0,0,.6) 5px 5px 15px; 
	/*height: 300px;*/
}
.blog{
	background-color: #f3f3f3;
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
	/*align-items: center; */
}
.blogAdjust{
	width: 1024px;
	text-align: center;
}
.blogAdjust h4{
	text-align: center;
	color: #454545;
	text-transform: uppercase;
	font-size: 30px;
}
.footer{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #073f64;
	padding: 20px 0; 
}
.footerAdjust{
	width: 1024px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footerAdjust div{
	width: 50%;
	color: white;
	font-size: 13px;
}
.footerAdjust .redes{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.footerAdjust .redes .redesI{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%; 
}
.redes a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}
.redes a:hover{
	color: #f35a40;
	cursor: pointer;
}

/*Secci贸n nosotros*/
.portadaNosotros{
	/*background: url('../img/nosotros.png') no-repeat;*/
	width: 100%;
	/*background-size: cover; */
	/*height: 350px;*/
}
.imPortadaNosotros{
	width: 100%;
}
.nosotrosText{
	width: 100%;
	position: relative;
}
.nosotrosTextDiv{
	width: 100%;
	position: absolute;
	top: -70px;
}
.nosotrosTextDivAdjus{
	width: 100%;
	display: flex;
	justify-content: center;
}
.nosotrosTextDivAdjustPx{
	width: 1024px;
}
.nosotrosTextDivAdjustPx h3{
	width: 35%;
	font-size: 50px;
	color: #0a4c92;
	margin: 0;
	font-weight: 400; 
	background: url('../img/background-white.png') no-repeat;
	background-size: cover;
	padding-left: 5px;
	padding-bottom: 10px;
	box-shadow: rgba(0,0,0,.3) 0px 5px 5px;
}
.contactoTextDivAdjustPx{
	width: 1024px;
	display: flex;
	justify-content: flex-end;
}
.contactoTextDivAdjustPx h3{
	width: 35%;
	font-size: 50px;
	color: #0a4c92;
	margin: 0;
	text-align: right;
	font-weight: 400; 
	background: url('../img/background-gray.png') no-repeat;
	background-size: cover;
	padding-right: 10px;
	padding-bottom: 10px;
	box-shadow: rgba(0,0,0,.3) 0px 5px 5px;
}
.historiaNosotros{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.historiaNosotrosAdjust{
	width: 1024px;
	text-align: justify;
	line-height: 23px;
	color: #7e7f84;
	white-space: pre-line;
	margin-top: 10px;
	font-size: 18px; 
	font-weight: 300;
}
.misVis{
	width: 100%;
	display: flex;
	justify-content: center;
}
.misVisAdjust{
	width: 1024px;
	font-size: 17px; 
}
.mis{
	width: 100%;
	display: flex;
}
.vis{
	width: 100%;
	display: flex;
}
.misVis .misVisAdjust .mis div{
	background-color: #073f64;
	width: 50%;
	color: white;
	/*padding: 15px 0;*/

}
.misVis .misVisAdjust .mis div img{
	width: 100%;
}
.misVis .misVisAdjust .vis div img{
	width: 100%;
}
.misVis .misVisAdjust .mis div p{
	padding: 10px 20px; 
}
.misVis .misVisAdjust .mis div h3{
	/*width: 100%;*/
	font-size: 30px;
	font-weight: 300px;
	margin-top: 10px;
	padding-left: 15px;
}
.misVis .misVisAdjust .vis div p{
	padding: 10px 20px; 
}
.misVis .misVisAdjust .vis div h3{
	/*width: 100%;*/
	font-size: 30px;
	font-weight: 300px;
	margin-top: 10px;
	padding-left: 15px;
}
.misVis .misVisAdjust .vis div{
	background-color: #073f64;
	width: 50%;
	color: white;
	font-weight: 300px;
	/*padding: 15px 0;*/
}
.corazon{
	width: 100%;
	display: flex;
	justify-content: center;
}
.corazonAdjust{
	width: 1024px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.imgCorazonText{
	width: 100%;
	display: flex;
	align-items: center;
}
.imgCorazonText div{
	width: 50%;
}
.imgCorazonText div img{
	width: 100%;
}
.imgCorazonText div h3{
	width: 100%;
	font-size: 40px;
	text-align: center;
	color: #f4891f;
}
.corazonInfo{
	width: 100%;

}
.corazonInfo p{
	color: #7e7f84;
	line-height: 23px;
	text-align: justify;
	font-weight: 300;
	font-size: 19px; 
}
.corazonInfo p span{
	font-weight: 400;
	color: #0a4c92;
}
/*Fin Secci贸n nosotros*/
/*Secci贸n Contacto*/
.portadaContacto{
	background: url('../img/slide2.png') no-repeat;
	width: 100%;
	background-size: cover; 
	height: 350px;
	display: flex;
	justify-content: center;
}
.portadaContactoAdjust{
	width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.portadaContactoAdjust h2{
	color: white;
	font-size: 50px;
	text-shadow: rgba(0,0,0,.4) 0px 0px 10px; 
}
.formularioContacto{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f3f3f3; 
}
.formularioAdjust{
	width: 1024px;
	display: flex;
	padding: 3% 0; 
}
.inputsContacto{
	width: 50%;
	height: 180px;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: space-between;
}
.inputUnique{
	width: 90%;
	padding: 15px 5px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
}
.textAreaContacto{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.textAreaUnique{
	width: 98%;
	height: 170px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	padding: 5px; 
}
.formularioBoton{
	width: 1024px;
	display: flex;
	justify-content:center;
}
.formularioBoton input{
	background: #073f64;
	color: white;
	padding: 12px 42px;
	border-radius: 20px;
	margin-bottom: 30px;
	outline: none;
	font-size: 15px;
	font-weight: 300; 
	border: 1px solid #073f64;
}
.formularioBoton input:hover{
	background: transparent;
	color: #073f64;
	transition: .5s;
	font-weight: 400;
}
.contactoMaps{
	width: 100%;
	display: flex;
	justify-content: center;
}
.contactoMapsAdjust{
	width: 1024px;
	display: flex;
	flex-direction: column;
}
.contactoMapsAdjustResponsive{
	display: none;
	/*display: flex;*/
	flex-direction: column;
	width: 90%;
}
.contactoMapsRow{
	width: 100%;
	display: flex;
	padding: 10px 0; 
}
.mapsDirectionInfo{
	width: 50%;
}
.mapsDirectionInfo p{
	white-space: pre-line;
	padding-left: 10px;
	font-size: 25px; 
}
.mapsDirection{
	width: 50%;
}
/*Fin Secci贸n Contacto*/

/*Responsive*/
@media (max-width: 1024px){
	.menuAdjust, .menuAdjustFixed, .serviceAdjust, .parallaxAdjust, .footerAdjust, .nosotrosTextDivAdjustPx, .historiaNosotrosAdjust, .corazonAdjust, .portadaContactoAdjust, .contactoTextDivAdjustPx, .formularioBoton, .contactoMapsAdjust, .formularioAdjust{
		width: 90%;
	}
	.menuFixedUl{
		width: 60%;
	}
	.logoMenu{
		width: 40%;
	}
	.textSlide {
	  padding: 0px 0px;
	  width: 60%;
	  bottom: 3%;
	  left: 5%;
	}
	.containerTextSlide p{
		font-size: 16px;
	}
	.containerTextSlide h3{
		font-size: 40px;
	}
	.containerTextSlide h4{
		font-size: 40px;
	}
	.contactoMapsAdjustResponsive{
		display: none;
	}
}
@media (max-width: 720px){
	.textSlide {
	  padding: 0px 0px;
	  width: 60%;
	  bottom: 1%;
	  left: 5%;
	}
	.containerTextSlide p{
		font-size: 14px;
	}
	.containerTextSlide h3{
		font-size: 30px;
	}
	.containerTextSlide h4{
		font-size: 30px;
	}
	.nosotrosTextDiv{
		top: -40px;
	}
	.nosotrosTextDivAdjustPx h3{
		width: 60%;
		font-size: 30px;
	}
	.contactoMapsAdjustResponsive{
		display: none;
	}
}
@media (max-width: 700px) and (orientation: landscape){
	.menuMostrado{
		display: none;
	}
}

@media (max-width: 640px){
	.textSlide {
	  display: none;
	}
	.menuContent{
		display: none;
	}
	.menuResponsive{
		display: block;
	}
	.menuFixedUl{
		width: 30%;
		justify-content: flex-start;
	}
	#ocultaMenuA i{
		color: #f35a40;
	}
	.logoMenu{
		width: 70%;
	}
	.slider, .portadaNosotros{
		padding-top: 4em;
	}

	.serviceInfo{
		display: flex;
		flex-direction: column;
	}
	.serviceInfo div{
		width: 95%;
		height: auto;
	}
	.serviceInfo div img{
		width: 97%;
	}
	.serviceInfo .serviceImg{
		width: 95%;
		display: flex;
		justify-content: flex-end;
	}
	.serviceAdjust{
		display: none;
	}
	.serviceAdjustResponsive{
		display: block;
		width: 90%;
	}
	.serviceAdjustResponsive h3{
		text-align: center;
		color: #454545;
		font-size: 30px;
	}
	.footerAdjust .redes .redesI{
		width: 100%; 
	}
	.footerAdjust div{
		width: 65%;
	}
	.footerAdjust .redes{
		width: 35%;
	}
	.nosotrosTextDiv{
		top: -40px;
	}
	.nosotrosTextDivAdjustPx h3{
		width: 60%;
		font-size: 30px;
	}
	.contactoTextDivAdjustPx h3{
		width: 60%;
		font-size: 30px;
	}
	.mis, .vis{
		flex-direction: column;
	}
	.misVis .misVisAdjust .mis div{
		width: 100%;
	}
	.misVis .misVisAdjust .vis div{
		width: 100%;
	}
	.imgCorazonText{
		flex-direction: column-reverse;
	}
	.imgCorazonText div{
		width: 100%;
	}
	.portadaContactoAdjust h2{
		font-size: 40px;
		text-align: center;
	}
	.formularioAdjust{
		flex-direction: column;
		padding-top: 30px;
	}
	.inputsContacto, .textAreaContacto{
		width: 100%;
		align-items: center;
	}
	.textAreaUnique{
		width: 90%;
		margin-top: 20px;
	}
	.contactoMapsAdjust{
		display: none;
	}
	.contactoMapsRow{
		flex-direction: column; 
	}
	.mapsDirection, .mapsDirectionInfo{
		width: 100%;
	}
	.contactoMapsAdjustResponsive{
		display: block;
	}
}

/*Fin Responsive*/











